<div class="container">
	<top-menu *ngIf="smallScreen" (toggleMenuEvent)="toggleMenu()" class="top-menu"></top-menu>
	<google-map *ngIf="true"
		class="map"
		width="{{mapWidth}}"
		height="{{mapHeight}}"
		[options]="options"
		[center]="center"
		[zoom]="zoom">
		<map-marker
			#markerElem="mapMarker"
			*ngFor="let marker of filteredMarkers"
			[position]="marker.position"
			[label]="marker.label"
			[title]="marker.title"
			(mapClick)="openInfo(markerElem, marker.info)">
		</map-marker>
		<map-info-window>
			<div class="company">{{infoContent['CompanyName']}} </div>
			<div *ngIf="infoContent['Do'] != ''">{{infoContent['Do']}} {{infoContent['What']}} for {{infoContent['Market(For)']}}</div>
			<div *ngIf="infoContent['Makerconnection'] != ''" class="">{{infoContent['Makerconnection']}}</div>
			<div *ngIf="infoContent['Notes'] != ''" class="">{{infoContent['Notes']}}</div>
			<div *ngIf="infoContent['Website'] != ''" class="website"><a href="{{infoContent['Website']}}" target="_blank">{{infoContent['Website']}}</a></div>
			<div class="">{{infoContent['Address']}} {{infoContent['City']}} {{infoContent['State']}}, {{infoContent['Zip']}}</div>
		</map-info-window>
	</google-map>
</div>

<side-menu *ngIf="showSideMenu" [smallScreen]="smallScreen" [filters]="filters" (filterChange)="filterChange($event)" class="side-menu"></side-menu>
