<div class="container">
	<top-menu *ngIf="smallScreen" (toggleMenuEvent)="toggleMenu()" class="top-menu"></top-menu>
	<google-map *ngIf="true"
		width="100%"
		height="{{mapHeight}}"
		[options]="options"
		[center]="center"
		[zoom]="zoom">
		<map-marker
			#markerElem="mapMarker"
			*ngFor="let marker of filteredMarkers"
			[position]="marker.position"
			[label]="marker.label"
			[title]="marker.title"
			(mapClick)="openInfo(markerElem, marker.info)">
		</map-marker>
		<map-info-window>
			<div class="company">{{infoContent['Company']}} ({{infoContent['What']}})</div>
			<div class="pb-1">{{infoContent['City']}}</div>
			<div class="">{{infoContent['Maker']}}</div>
			<div><a href="{{infoContent['Website']}}" target="_blank">{{infoContent['Website']}}</a></div>
		</map-info-window>
	</google-map>
</div>

<side-menu *ngIf="showSideMenu" [smallScreen]="smallScreen" [filters]="filters" [selectedFilters]="selectedFilters" (filterChange)="filterChange($event)" class="side-menu"></side-menu>
