<div class="menu">

	<div *ngIf="!smallScreen" class="title">CV Maker Map</div>

	<div class="section">
		Filters
	</div>

	<dropdown-multi [data]="filters" [type]="'City'" (change)="change($event)" [label]="'Cities'"></dropdown-multi>
<!--	<dropdown-multi [data]="filters" [type]="'Do'" (change)="change($event)"></dropdown-multi>-->
	<dropdown-multi [data]="filters" [type]="'What'" (change)="change($event)"></dropdown-multi>
<!--	<dropdown-multi [data]="filters" [type]="'Market(For)'" (change)="change($event)" [label]="'Market'"></dropdown-multi>-->

	<div class="about">
		<a href="https://cvmake.org/2022/10/maker-map-a-building-a-map-of-places-around-the-neighborhood/" target="_blank">About</a>
		• <a href="mailto:info@cvmake.org?subject=maker map" target="_blank">Contact Us</a>
	</div>
</div>
