@import '../../../variables.scss';

.a {
    font-size: 10px;
}

.menu {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 220px;
    background-color: #eeeeee;
}

@media (max-width: $menuBreakpointMax) {
    .menu {
        height: 220px;
    }
}

@media (min-width: $menuBreakpointMin) {
    .menu {
        height: 100%;
    }
}

.section {
    padding-bottom: 0.5rem;
}

.about {
    text-align: center;
    padding-top: 1rem;
    font-size: small;
}

.title {
    text-align: center;
    font-size: 19px;
    margin-bottom: 1rem;
}
