@import '../../../variables.scss';

.a {
    font-size: 10px;
}

.menu {
    padding-left: 1rem;
    width: 220px;
    background-color: $menuBGColor;
}

.section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.about {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
}

.title {
    text-align: center;
    font-size: 19px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
